@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Stardos Stencil Regular'), local('StardosStencil-Regular'), url(http://themes.googleusercontent.com/static/fonts/stardosstencil/v3/ygEOyTW9a6u4fi4OXEZeTHPCKOCMXSfEg7NxhSsqpWM.woff) format('woff');
}
@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 700;
  src: local('Stardos Stencil Bold'), local('StardosStencil-Bold'), url(http://themes.googleusercontent.com/static/fonts/stardosstencil/v3/h4ExtgvoXhPtv9Ieqd-XC1wGrrdhLiiI2fKzDWNA2i0.woff) format('woff');
}

html {
  background-image: url(../img/wood.png);
}

body {
  color: #FFF;
  font-family: 'Stardos Stencil', sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #00592e;
  margin-left: 10px;
  margin-right: 10px;
}

.cover {
  background-image: url(../img/ninja.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 25%;
}

.cover.json {
  background-image: url(../img/json.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cover.json > *{
  display: none;
}

.cover.closure {
  background-image: url(../img/closures.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}

.cover.closure > * {
  left: -180px;
}

.cover > * {
  font-size: 90px;
  margin: 0;
  top: 130px;
  text-transform: uppercase;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
blockquote p {
  color: #007d49;
}

p.list strong,
ol li,
ul li {
  color: #007d49;
  font-size: 40px;
}

p.list strong:nth-child(2n+1),
ol li:nth-child(2n+1),
ul li:nth-child(2n+1) {
  color: #008c70;
}

.list.warning strong,
.list.warning li,
.list.warning strong:nth-child(2n+1),
.list.warning li:nth-child(2n+1) {
  background: #F00;
  color: #FFF;
  border-radius: 5px;
  padding: 5px 20px;
}

a, a:visited {
  color: #00097f;
}

pre {
  font-size: 16px;
  margin: 5px 0 20px 0;
}

pre code {
  box-shadow: 0 0 10px #007d49;
  border-radius: 5px;
}

/* introduction */

.introduction p.list strong,
.introduction u li,
.introduction ol li {
  height: 400px;
}

.introduction strong:nth-child(1) {
  background-image: url(../img/inception-spin-up.jpg);
}

.introduction strong:nth-child(2) {
  background-image: url(../img/inception-strange.jpg);
}

.introduction strong:nth-child(3) {
  background-image: url(../img/inception-abnormal.jpg);
}

.introduction strong:nth-child(4) {
  background-image: url(../img/inception-nonsense.jpg);
}

.introduction strong:nth-child(5) {
  background-image: url(../img/inception-details.jpg);
}

.introduction strong:nth-child(6) {
  background-image: url(../img/inception-asleep.jpg);
}

.introduction strong:nth-child(7) {
  background-image: url(../img/inception-spin-down.jpg);
}
