@font-face {
  font-family: 'IM Fell DW Pica SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL DW Pica SC'), local('IM_FELL_DW_Pica_SC'), url(http://themes.googleusercontent.com/static/fonts/imfelldwpicasc/v3/xBKKJV4z2KsrtQnmjGO17ORrWueMUZPacwWUa4j7Ahg.woff) format('woff');
}

html {
  background-image: url(../img/exclusive-paper.png);
}
body {
  color: #625952;
  font-family: IM Fell DW Pica SC, serif;
}
.cover {
  background-image: url(../img/once-upon-a-time-in-the-web.png);
  background-size: cover;
}
.cover > * {
  bottom: 50px;
  font-size: 50px;
  height: auto;
  margin-top: 0;
  top: auto;
}

p.list.incremental strong {
  font-size: 40px;
}
